// Style for home page
.home{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
// Style for first name  
    .name {
        font-size : 50px;
        margin-bottom:32px;
// Style for second name       
        .second-nm{
            color:$secondary-color;
            font-weight:700;
        }
        
    }
// Style for second name  "My CV" button
    input{
        font-size:18px;
        padding: 6px 20px;
        margin-top:32px;
        border-color:set-text-color($primary-color);
        color:set-text-color($primary-color);
        font-weight:400;
        cursor:pointer;
        background-color:$secondary-color;
        &:hover{
            background-color:transparent; 
            @include transition-ease;
        }
        
    }

    
}